/HW2/HW2.X/dist/
/HW2/HW2.X/build/
/HW3/HW3.X/build/
/HW3/HW3.X/dist/
/HW5/HW5.X/build/
/HW5/HW5.X/dist/
/HW6/HW6.X/build/
/HW6/HW6.X/dist/
/HW7/HW7.X/build/
/HW7/HW7.X/dist/
/HW8/HW8.X/build/
/HW8/HW8.X/dist/